.header-img {
  background-image: url("../../Book-Shelf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
  height: 400px;
}

.nav-link {
  color: aliceblue !important;
}
