.footerdiv {
  background-color: black;
}
.footerGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-sizing: border-box;
}
.copyRights {
  color: blanchedalmond;
  margin-left: 20px;
  margin-top: 30px;
}
.followDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
}
