/* *{
    box-sizing: border-box;
    margin: 0 auto;
} */
.login-outer-box{
background:url("https://firebasestorage.googleapis.com/v0/b/icaf-storage-c23a0.appspot.com/o/icons%2FBook-Shelf.jpg?alt=media&token=cce7f65c-e665-4806-8302-2f6e0dfb149f") no-repeat fixed 0 0;
    min-height: 500px;
}
.loginOuterDiv{
    display: flex;
    justify-content: center;
    align-content: center;
}
.inner-box{
    background-color: rgba(255,255,255,0.7);
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;

}

.footer-box{
    background-color: rgba(255,255,255,0.8);
}

.inner-box h1{
    text-align: center;
    margin-left: -10px;
    color: black;
}
